body {font-family: impact
	color: black;
background-image: url("biology.jpg")

}
.title1 {text-align:center;
	color:red;
	font-size: 160%;

}
.text1 {text-align:center;
	color:black;
	font-size: 120%;
	
}
