body {font-family: impact
	color: black;
background-image: url("biology.jpg")

}
.top{background-color: rgba(255,0,0,0.6);

}
.name{font-size:170%;

}
#tips {text-align: left;

}
.abc {text-align: center;

}

a {color:white;
	text-style:bold;

}
#nav-left-bar{color:black;

}

.headline{color:white;
	text-align: center;
  font-size: 300%;
	/*background-color:red;
*/
}

.title1 {text-align:center;
	color:red;
	font-size: 300%;

}
.text1 {text-align:center;
	color:black;
	font-size: 120%;
	
}
h1 { text-align: center;
    font-size: 110%;

}
  div.transbox {
    margin: 30px;
    background-color: rgba(255,255,255,0.5);
    /*border: 1px solid black;*/
    /*opacity: 0.2;*/
    /*filter: alpha(opacity=0); /* For IE8 and earlier */*/
  }

  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    
  }
  .floating-box {
      display: inline-block;
      width: 220px;
      height: 400px;
      margin: 10px;
      border: 0px solid #73AD21;
      font-size:100%;  
  }

  .after-box {
      border: 3px solid red; 
  }

.nav-item{
	padding-right:20px;
}
.result{
  font-size: 100%;
  color:rgb(100,0,20);
}




h4{
  font-weight: bold;
}

.link {
  color: blue;
}

.start_game{
  font-size: 200%;
  text-align: center;
  color: rgb(255, 255, 0);

}

#game_link{
  color:red;

