<!DOCTYPE html>
<html>
	<head>
  
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<title> Diabetes </title>
	</head>
	<body>
  <b>
  <div class="top">
		<div id="nav-left-bar">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      
      <a class="navbar-brand" href="{{ url_for('index')}}">  Home  </a> <br>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('diseases')}}">  Diseases   </a> <br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('howcanihelp')}}">  How Can I Help!  </a> <br>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('playthegame')}}">  Play The Game! </a>  <br> 
          </li>
        </ul>
      </div>
    </nav>
  </div>
    <h2 class="headline"> DISEASES INFO<br><br> </h2></div>
    <h3 class="title1"> <br>WHAT IS DIABETES?</h3>
    <div class="transbox">
    <p class="text1"><br>Diabetes is a disease in which the body is unable to properly use and store glucose (a form of sugar).<br> Glucose backs up in the bloodstream — causing one’s blood glucose (sometimes referred to as blood sugar) to rise too high.<br><br></p>
    <center> <img src= "static/img/sugarinblood.jpg", alt= "sugar in blood"></center>

   </div>


    <div class="text">
    <h3 class="title1">THERE ARE TWO MAJOR TYPES OF DIABETES:</h3>
    <div class="transbox">
    <div class="abc"
    <p class="text1"><b><div class="name">Type 1 diabetes</div></b><br> (fomerly called juvenile-onset or insulin-dependent)<br> the body completely stops producing any insulin, a hormone that enables the body to use glucose found in foods for energy.<br>
     People with type 1 diabetes must take daily insulin injections to survive. This form of diabetes usually develops in children or young adults, but can occur at any age.</p> 
    <p class="text1"><b><div class="name">Type 2 diabetes</div></b> <br>(formerly called adult-onset or non insulin-dependent) <br> results when the body doesn’t produce enough insulin and/or is unable to use insulin properly (insulin resistance).<br> This form of diabetes usually occurs in people who are over 40, overweight, and have a family history of diabetes. <br>Today it is increasingly occurring among younger people, particularly adolescents.</p>
    <center> <img src= "static/img/prevent_diabetes.png", alt= "prevent diabetes"> </center>
    </div>
    </div>
  
    <div class="transbox">
    <h3 class=title1>HOW DO PEOPLE KNOW IF THEY HAVE DIABETES?</h3>
    People with diabetes frequently experience certain symptoms. These include:
    <un>
    <li>being very thirsty</li>
    <li>frequent urination</li>
    <li>weight loss</li>
    <li>increased hunger</li>
    <li>blurry vision</li>
    <li>irritability</li>
    <li>tingling or numbness in the hands or feet</li>
    <li>frequent skin, bladder or gum infections</li>
    <li>wounds that don't heal</li>
    <li>extreme unexplained fatigue</li>
    </un>

    <br><p>In some cases, there are no symptoms — this happens at times with type 2 diabetes.<br> In this case, people can live for months, even years without knowing they have the disease. This form of diabetes comes on so gradually that symptoms may not even be recognized.
    </p></div></div>

    <div class=text1>
    <h3 class=title1>WHO'S MORE LIKELY TO GET DIABETES?</h3>
    <div class="transbox">
    <p>
    Diabetes can occur among anyone. However, there are some risk factors:
    <un>
    <li>people who have close relatives with the disease are somewhat more likely to develop it.</li>
    <li>Other risk factors include: obesity, high cholesterol, high blood pressure, and physical inactivity.</li>
    <li>The risk of developing diabetes also increases as people grow older.</li>
    <li>People who are over 40 and overweight are more likely to develop diabetes.</li>
    </un>
    </p>
    </div>
    </div>

    <div class="text1">
    <h3 class="title1">DID YOU KNOW?</h3>
    <div class="transbox"><p>
    The incidence of type 2 diabetes in adolescents is growing.<br> Diabetes is more common among Native Americans, African Americans, Hispanic Americans and Asian Americans/Pacific Islanders.<br> Also, people who develop diabetes while pregnant (a condition called gestational diabetes) are more likely to develop full-blown diabetes later in life.</p>
    </div>
    </div>

    <div class="text1">
    <h3 class="title1">HOW IS DIABETES TREATED?</h3>
    <div class="transbox"><p><br>
    Pateints who suffer from Diabetes have special requirements, whether it is type 1 or type 2:
    <un>
    <li>Staying healthy</li>
    <li>Having a meal plan</li>
    <li>Paying attention to how much physical activity is being engaged</li>
    <li>Type 1 requires taking Insuli injections. (some type 2 diabetes require that as well)</li>
    <li>Sometimes, type 2 diabetes requires taking "oral agents" pills, that help the patient's bodies produce more Insulin and/or using the Insulin more effectively.</li>
    <li>Some people with type 2 diabetes can manage their disease without medication by appropriate meal planning and adequate physical activity.</li>
    </un>
    <br><br>
    </p>
    </div>
    </div>


    <div class="text1">
    <div class="transbox">
    <b>Patients who suffer from diabetes should:</b>
    <ul>
    <li>be seen AT LEAST ONCE EVERY SIX MONTHS by a diabetes specialist (an endocrinologist or a diabetologist).</li>
    <li>be seen periodically by other members of a diabetes treatment team, including a diabetes nurse educator, and a dietitian who will help develop a meal plan for the individual.</li>
    <li>also see an exercise physiologist for help in developing a physical activity plan, and, perhaps, a social worker, psychologist or other mental health professional for help with the stresses and challenges of living with a chronic disease.</li>
    <li>have regular eye exams (once a year) by an eye doctor expert in diabetes eye care to make sure that any eye problems associated with diabetes are caught early and treated before they become serious.</li>
    <li>learn how to monitor their blood glucose. Daily testing will help determine how well their meal plan, activity plan, and medication are working to keep blood glucose levels in a normal range.</li>
    </ul>
    <br><br>
    </p>
    </div>
    </div>

    <div>
    <h3 class="title1"> WHAT OTHER PROBLEMS CAN DIABETES CAUSE?</h3>
    <div class="transbox">
    <p class="text1"><br>poorly managed diabetes can lead to a host of long-term complications — among these are heart attacks, strokes, blindness, kidney failure, and blood vessel disease that may require an amputation, nerve damage, and impotence in men.</p>
    </div>
    </div>

    
    <div>
    <h3 class="title1"> CAN WE PREVENT IT? AND HOW? </h3> 
    <div class="transbox"> 
    <p> Unfortunately there is no way to prevent type one of diabetes, but there are some tips that can help preventing type 2, such as:
    <br>
    <ol>
    <li> Eating healthy </li>
    <li> Doing more sports </li>
    <li> Taking care of body, mind, and soul</li>
    </ol>
    <p> for more info click <a class= link href=https://www.niddk.nih.gov/health-information/diabetes/overview/preventing-type-2-diabetes/50-ways> here </a>
    </p></div></div>


    <!--(http://www.joslin.org/info/general_diabetes_facts_and_information.html)-->
    </p>
    </div>
    </b>
    </body>
    </html>