<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<title> Diseases </title>
	</head>
	<body>
  <b>
<div class="top">
		<div id="nav-left-bar">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      
      <a class="navbar-brand" href="{{ url_for('index')}}">  Home  </a> <br>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('diseases')}}">  Diseases   </a> <br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('howcanihelp')}}">  How Can I Help!  </a> <br>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('playthegame')}}">  Play The Game! </a> <br>
          </li>
        </ul>
      </div>
    </nav>
  </div>


		<div><h1 class='headline'> CHOOSE A DISEASE! </h1><br></div></div>
    <div class="transbox">
		<p class= "text1"><br><br> Click on a disease from the list below to receive more information about it!
		<ul>
		  <li> <a href="{{ url_for('diebetes')}}"><font color="black">Diabetes</font> </a>  </li> <!--CHANGE LINK COLOR-->
		  <li> Cancer </li>
		  <li> HIV </li>
      <li> Alzheimer </li>
      <li> Bipolar Disorder </li>
      <li> Epilepsy </li>
      <li> Crohn's Disease </li>
      <li> Schizophrenia </li>
      <li> Angina </li>
      <li> Bronchitis </li>
      <li> Parkinson </li>
      <li> Blood Pressure </li>
      <li> Migraine </li>
      <li> Depression </li>
      <li> Eczema </li>
		</ul>
		</p>
    </div>
    </b>
	</body>
</html>
