<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<title> Diseases </title>
	</head>
	<body>
  <b>
<div class="top">
		<div id="nav-left-bar">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index')}}">  Home  </a> <br>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('diseases')}}">  Diseases   </a> <br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('howcanihelp')}}">  How Can I Help!  </a> <br> <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('playthegame')}}">  Play The Game! </a> <br>
          </li>
        </ul>
      </div>
    </nav>
  </div>

		<h1 class='headline'> HOW CAN I HELP? <br><br></h1> </div>
    <h4><br>HOW TO HELP A LOVED ONE COPE WITH MEDICAL CONDITIONS?</h4>
          <div class="transbox"><br><div class="text1"><p>
      When people have the support of their family and friends, they are able to manage their diseases better.<br> More often than not, these situations are hard to handle alone, therefore you can help your loved one cope with them by showing your support.<br> These tips will tell you how.</p>


<p><ul id="tips"><b>
      <li>Walking together daily gives you time to talk and stay active.</li>
      <li>Find ways to help your loved one manage the stress of living with their condition. Being a good listener is often the most important thing you can do to help.</li>
      <li>Ask your loved one if he or she would like reminders about doctor visits, when to check their general state, and when to take medicine.</li>
      <li>Help your loved one write a list of questions for the health care team.</li>
      <li>Eat well. Help your loved one make meals that include foods such as fruits, vegetables, and whole grains.</li>
      <li>Find things you can do together such as walking, dancing, or gardening. Being active is a great way to handle stress.</li>
      <li>Cut back on sweets by serving fresh fruit for dessert.</li>
      </b></ul></p></div>

      <div class="text1"><p><b> Help can also be given by donating and/or giving motivation by sharing your own personal stories.<br> Donations can be given via our website by clicking here. <!--DONATION BUTTON--><br> Personal stories can be submitted here. <!--STORIES BUTTON--></div>
    </p>
    </b>
    </p>
    </div>
    </div>
    </b>
	</body>
</html>
