<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<title> Diseases </title>
	</head>
	<body>

		<div id="nav-left-bar">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index')}}">  Home  </a> <br>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('diseases')}}">  Diseases   </a> <br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('howcanihelp')}}">  How Can I Help!  </a> <br> <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('playthegame')}}">  Play The Game! </a> <br>
          </li>
        </ul>
      </div>
    </nav>
  </div>

<div class=:"title1"
		<h3 class='title1'> Help </h3>
		<p class= "text1"> Here you can help
		<ul>
		  <li> Diebetes </li>
		  <li> Cancer </li>
		  <li> HIV </li>
		</ul>
		</p>
    <P> HOW TO HELP A LOVED ONE COPE WITH DIABETES?
      <br>
      *When people have the support of their family and friends, they are able to better manage their diabetes. It is a hard disease to handle alone. You can help your loved one cope with diabetes by showing your support. These tips tell you how.



      1- Walking together daily gives you time to talk and stay active.
      <br>
      2- Find ways to help your loved one manage the stress of living with diabetes. Being a good listener is often the most important thing you can do to help.
      <br>
      3- Ask your loved one if he or she would like reminders about doctor visits, when to check blood sugar, and when to take medicine.
      <br>
      4- Help your loved one write a list of questions for the health care team.
      <br>
      5- Eat well. Help your loved one make meals that include foods such as fruits, vegetables, and whole grains.
      <br>
      6- Find things you can do together such as walking, dancing, or gardening. Being active is a great way to handle stress.
      <br>
      7- Walking together daily gives you time to talk and stay active.
      <br>
      8- Cut back on sweets by serving fresh fruit for dessert.
      <br>
      <br>
      <b>YOU CAN ALSO HELP THESE PEOPLE BY DONATING AND/OR BY GIVING THEM MOTIVATION BY SHARING YOUR PERSONAL STORIES OR WRITING INSPIRATIONAL POSITIVE ENERGY GIVING QUOTES/THOUGHTS.</b> 
    </P>
	</body>
</html>
