<!DOCTYPE html>
<html>
  <head>

      <title>Diseases</title>
      <!<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <!<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     <!<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <!<script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </head>
  <

  <body>
      

      <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#"> Home </a>
    <a href="#"> Diseases </a>
    <a href="#"> How can I help! </a>
    <a href="#"> Play The Game! </a>
  </div>
  <span onclick="openNav()">open</span>
  </body>
</html>
