<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <head>

      <title>Diseases</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </head>


  <body>
  <b>
  <div class="top">
  <div id="nav-left-bar">
    <nav class="navbar-main">
      <a class="navbar-brand" href="{{ url_for('index')}}">  Home  </a> <br>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('diseases')}}" >  Diseases  </a> <br>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('howcanihelp')}}">  How Can I Help!  </a> <br>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('playthegame')}}">  Play The Game! </a>  

          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="content-body">
    
<h1 class="headline"> DISEASES</h1>
<br>
  </div>
  </div>

  <div class="text1">
  <!--<p class="text1">-->
  <div class="background">
    <div class="transbox">
      <p>Welcome to Diseases!
  Our platform allows you to learn and discover more about different diseases and/or medical conditions out there. <br>
  In addition to the wide knowledge found here, you get an exclusive expirience allowing you to go through the daily steps a real patient would have to go through.<br>
  Another special feature is stories written by the patients themselves, showing the real point of view we are trying to put out there.</p>
    </div>
    </div>
    </div>
  <!--</div>
  Welcome to Diseases!
  Our platform allows you to learn and discover more about different diseases and/or medical conditions out there. <br>
  In addition to the wide knowledge found here, you get an exclusive expirience allowing you to go through the daily steps a real patient would have to go through. <br>
  Another special feature is stories written by the patients themselves, showing the real point of view we are trying to put out there.</p>-->
<div class="text1">
  <div class="background">
    <div class="transbox">
  <p>We set ourselves a goal to help raise awareness about medical conditions and the consequences patients have to deal with as their result.</p>
  <p>If you are dealing with a medical condition and would like to share your story, we  invite you to send it to us to our email. <br> The stories will be checked and verified before they get uploaded.  
  <br>To send a story, click here </p> </div>    <!--WE NEED TO ADD A BUTTON FOR THE SUBMIT STORY THING HERE-->
  </div>
  </div>




<h3 class="title1">Who are we?</h3>
<div id="profile-holder">
<div class="floating-box" style=" position: relative; bottom:295px;"> 
<div class="transbox">
<img src="{{ url_for('static', filename='img/carlos2.jpg')}}" style="width:150px;height:150px;"><br>
 <div class="name">Carlos Hawari </div> <br> My name is Carlos, I was born in Nazareth,Israel and I am a student in MEET.<br>
I'm very passionate about this project and really hope to see it succeed, the main reason for that is because I truly believe it is important for us to raise awarness about these diseases and hopefully minimize the damage these diseases are currently inflicting on alot of people in our world.
</div>
</div>
 <div class="floating-box" style=" position: relative; bottom:10px;"><div class="transbox"> <img src="{{ url_for('static', filename='img/yotam.jpg')}}" style="width:150px;height:150px;"><br> <div class="name">Yotam Asa-El</div> <br>Born, raised and lives in Jerusalem and loves her. I am a MEET student as well. <br> At the age of two and a half years old I was diagnosed with Juvenile Diabetes, after a couple of days my mother noticed I was drinking extencivly. Since it broke out at such a young age, I know no other life-style - attending to my illness has been a part of my day ever since I can remember myself.<br> 
 I often find people do not know how needy these sort of diseases are in a daily routine, and figured a website such as ours could be a great way to showcase it - raising peoples awareness in an interactive, self-based-experience they can play with. <br> I took part in designing the "A Day In A Life" game and building the idea.     
 </div></div>
<!--<div class="text1"> Yotam <br> ADD INFORMATION </div> -->
<div class="floating-box"> <div class="transbox" style=" position: relative; bottom:225px;"><img src="{{ url_for('static', filename='img/hala.pnj')}}" style="width:150px;height:150px;"><br><div class="name">Hala Abu Sneineh</div><br>My name is Hala, I was born in jerusalem.
Our aim from this project is to raise people's knowledge about some of the most popular diseases our world is facing these days. I think that this is something essencial because using this website can help people know if they have any health problems, further more, they will know how to prevent some diseases. They will also gain some really omportant information, which will raise the community's awareness. </div></div>
<!--<div class="text1"> Hala <br> My name is Hala, I was born in jerusalem.
Our aim from this project is to raise people's knowledge about some of the most popular diseases our world is facing these days. I think that this is something essencial because using this website can help people know if they have any health problems, further more, they will know how to prevent some diseases. They will also gain some really omportant information, which will raise the community's awareness. </div>-->

<div class="floating-box"><div class="transbox" style=" position: relative; bottom:215px;"> <img src="{{ url_for('static', filename='img/lyne.JPG')}}" style="width:150px;height:150px;"><br><div class="name">Lyne Shweiki</div> <br> My name is Lyne, I was born in Jerusalem in 2001, I have A LOT of hobbies and interests:), and I'm currently a MEET student.
<br> I want this webapp to work out because I think it's gonna help a lot with sharing awareness, and also help people interersted in medicin and health get more information about what diseases we are facing and how to prevent them (if possible).
<br>
In order to develop this webapp, I built a bit on the main idea, took part in making the webapp and helped with the design. 
 </div></div>
 <div class="floating-box"><div class="transbox" style=" position: relative; bottom:205px;"><img src="{{ url_for('static', filename='img/nicole.png')}}" style="width:150px;height:150px;"> <br><div class="name"> Nicole Kazakov </div><br> My name is Nicole, I'm 16 years old and was born in Jerusalem, Israel.<br>The website's idea seemed amazing to me.<br> I think that people who suffer from some kind of condition occasually feels misunderstood and experience despair. Their life consist different elements which mostly make everyday routine harder.<br> In my opinion, whether it is for educational purposes or just to know what people around us go through, each person must try our platform. </div></div>
 </div>
</b>
  </body>
</html>
