<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <script src="{{ url_for('static', filename='js/game.js') }}"> </script>
		<title> Diseases </title>
	</head>
	<body>
<b>
<div class="top">
		<div id="nav-left-bar">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index')}}">  Home  </a> <br>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('diseases')}}">  Diseases   </a> <br>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('howcanihelp')}}">  How Can I Help!  </a> <br>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{{ url_for('playthegame')}}">  Play The Game! </a> <span class="sr-only">(current)</span> <br> 
          </li>
        </ul>
      </div>
    </nav>
  </div>


<input type="button" name="take_meds" value="Took the meds">
    
		<h1 class='headline'> PLAY THE GAME! </h1><br></div>
		<h3 class= "title1"><br> INSTRUCTIONS</h3>
    <div class="transbox">

<p class="text1"> After choosing a disease, you will get the chance to live through a day with it (without actually having it of course), in order to feel what a real patient goes through on a daily basis. <br>
During the day, you will receive notifications of tasks that need o be done if you were actually suffering from this medical condition. In order to get through the tasks, you will have to press "done" on each one of them. <br>
The second a notificatio is being sent to you, you get a limited amount of time to complete it (press "done"), just like real patients who need to keep track on times.<br>
If the "done" button was not pressed and the time passed, the task will be considered as not completed.<br>
At the end of the game, you will get the result, meaning the condition you are after the tasks you've accomplished throughout the day.<br>
The goal is to reach the maximum health level available after accomplishing all of the tasks.
Often, real patients tend to struggle with the responsebilities they are dealing with- keeping an eye on the watch, taking the right amount of medication and so on and so forth.<br>
During the game you will be amazed to find out how much a single person is dealing with every single day.
</p>

<p>NOTE: THIS IS A SIMULATION, DO NOT TRY THESE TASKS AT HOME!</p>

</div>
	
		<h3 class= "title1"> INSTRUCTIONS</h3>
<p class="text1"></p>

<a href="{{url_for('start_game')}}"><b>Start the game</b></a>
                                                                                                                                                                                                                                    	
    </div>
<div class="routine_list">
  <ul> <h2 class="hour"> 8:00: </h2> <br>
  <h3 class="medical_task">Morning insulin shot + test blood sugar level </h3>
  <button class="register_shot_button" name="register_shot" onclick="hour_8()"> Take shot and test blood sugar level</ul>
  <ul> <h2 class="hour">9:00: </h2> <br>
  <h3 class="medical_task"> Insulin shot before breakfeast </h3> </ul>
  <ul> <h2 class="hour"> 10:00:</h2><br>
  <h3 calss="medical_task"> Test blood sugar level </h3></ul>
  <ul> <h2 class="hour"> 11:00: </h2> <br>
  <h3 class="medical_task">  </h3> </ul>
  <ul> <h2 class="hour">12:00: </h2> <br>
  <h3 class="medical_task">  </h3> </ul>
  <ul> <h2 class="hour"> 13:00</h2><br>
  <h3 class="medical_task"> Noon insulin shot + test blood sugar level </h3> </ul>
  <ul> <h2 class="hour"> 14:00: </h2> <br>
  <h3 class="medical_task"> Insulin shot before lunch + test blood sugar level </h3> </ul>
  <ul> <h2 class="hour">15:00: </h2> <br>
  <h3 class="medical_task">  </h3> </ul>
  <ul> <h2 class="hour"> 16:00</h2><br>
  <h3 class="medical_task"> </h3> </ul>
  <ul> <h2 class="hour"> 17:00: </h2> <br>
  <h3 class="medical_task"></h3> </ul>
  <ul> <h2 class="hour">18:00: </h2> <br>
  <h3 class="medical_task"></h3> Evening insulin shot + test blood sugar level </ul>
  <ul> <h2 class="hour"> 19:00</h2><br>
  <h3 class="medical_task"> </h3> </ul>
  <ul> <h2 class="hour"> 20:00: </h2> <br>
  <h3 class="medical_task"> </h3> Insulin shot before dinner + test blood sugar level</ul>
  <ul> <h2 class="hour">21:00: </h2> <br>
  <h3 class="medical_task"> </h3> </ul>
  <ul> <h2 class="hour"> 22:00</h2><br>
  <h3 class="medical_task"> Night insulin shot - Good night!</h3> </ul>

  </div>

	
    </b>
	</body>
</html>
