<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <head>

      <title>Take meds</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </head>

<body>

<div class="routine_list">
	{% for shoot in routine.shoots %}
  		<ul>
  			<h2 class="hour">{{shoot.taken_time.strftime('%H-%M')}}</h2> <br>
  			{% if shoot.is_missed %}
  				you missed your shot at ...
  			{% else %}
  				{{shoot.is_taken}}
  				<h3 class="medical_task">{{shoot.title}}</h3>
	  			<form action="{{url_for('edit_shoot', shoot_id=shoot.id)}}" method="post">
	 				<input type="submit" name="Took shoot">
				</form>
				Take shot and test blood sugar level
				{% endif %}
  			<!-- <button class="register_shot_button" name="register_shot" onclick="hour_8()">  -->
		</ul>
	{% endfor %}
<!--   <ul> <h2 class="hour">9:00: </h2> <br>
  <h3 class="medical_task"> Insulin shot before breakfeast </h3> </ul>
  <ul> <h2 class="hour"> 10:00:</h2><br>
  <h3 calss="medical_task"> Test blood sugar level </h3></ul>
  <ul> <h2 class="hour"> 11:00: </h2> <br>
  <h3 class="medical_task">  </h3> </ul>
  <ul> <h2 class="hour">12:00: </h2> <br>
  <h3 class="medical_task">  </h3> </ul>
  <ul> <h2 class="hour"> 13:00</h2><br>
  <h3 class="medical_task"> Noon insulin shot + test blood sugar level </h3> </ul>
  <ul> <h2 class="hour"> 14:00: </h2> <br>
  <h3 class="medical_task"> Insulin shot before lunch + test blood sugar level </h3> </ul>
  <ul> <h2 class="hour">15:00: </h2> <br>
  <h3 class="medical_task">  </h3> </ul>
  <ul> <h2 class="hour"> 16:00</h2><br>
  <h3 class="medical_task"> </h3> </ul>
  <ul> <h2 class="hour"> 17:00: </h2> <br>
  <h3 class="medical_task"></h3> </ul>
  <ul> <h2 class="hour">18:00: </h2> <br>
  <h3 class="medical_task"></h3> Evening insulin shot + test blood sugar level </ul>
  <ul> <h2 class="hour"> 19:00</h2><br>
  <h3 class="medical_task"> </h3> </ul>
  <ul> <h2 class="hour"> 20:00: </h2> <br>
  <h3 class="medical_task"> </h3> Insulin shot before dinner + test blood sugar level</ul>
  <ul> <h2 class="hour">21:00: </h2> <br>
  <h3 class="medical_task"> </h3> </ul>
  <ul> <h2 class="hour"> 22:00</h2><br>
  <h3 class="medical_task"> Night insulin shot - Good night!</h3> </ul> -->

  </div>

Routine: {{routine.id}}
{% for shoot in routine.shoots %}
	shoot id is {{shoot.id}}
 shoot is taken ? {{shoot.is_taken}}
 <form action="{{url_for('edit_shoot', shoot_id=shoot.id)}}" method="post">
 	<input type="submit" name="Took shoot">
</form>
{% endfor %}
<form>
<input id='checkbox' type='checkbox' name = 'take_meds'    value = 'Take Meds'>

</form>
