<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <head>

      <title>Take meds</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </head>

<body>
Routine: {{routine.id}}
{% for shoot in routine.shoots %}
	shoot id is {{shoot.id}}
 shoot is taken ? {{shoot.is_taken}}
 <form action="{{url_for('edit_shoot', shoot_id=shoot.id)}}" method="post">
 	<input type="submit" name="Took shoot">
</form>
{% endfor %}
<form>
<input id='chekcbox' type='chekcbox' name = 'take_meds'    value = 'Take Meds'>
</form>
